chromadb==1.4.1
sentence-transformers==5.2.2
python-dotenv
flask
flask-cors
tiktoken
openai
watchdog
nltk
requests
PyMuPDF
python-docx
python-pptx
openpyxl
agno[os]
ddgs
browserbase
playwright
duckdb
Werkzeug==3.1.3
